body {
    min-height: 100vh;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(90deg, #0f0c29, #302b63, #24243e);
    color: white;
    font-family: Arial, sans-serif;
}

.reset-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 70vh;
    background: linear-gradient(90deg, #0f0c29, #302b63, #24243e);
    box-shadow: 0 0 20px rgba(0, 255, 204, 0.5);
    border-radius: 10px;
    padding: 30px 20px;
    width: 80%;
    max-width: 500px;
    margin: auto;
}

.title-container {
    margin-bottom: 20px;
    text-align: center;
}

.title-container h2 {
    font-size: 2.2rem;
    font-weight: bold;
    color: white;
    text-shadow: 0 0 10px #0f0c29, 0 0 20px #302b63, 0 0 30px #24243e;
}

.form-container {
    width: 100%;
}

.form-group {
    margin-bottom: 18px;
}

label {
    color: white;
    font-weight: bold;
    font-size: 0.9rem;
    display: block;
    text-align: center;
    margin-bottom: 5px;
}


.form-control {
    background: transparent;
    border: 2px solid #fff;
    color: white;
    padding: 6px 8px;      /* Reduce el padding */
    border-radius: 5px;
    text-shadow: 0 0 5px rgba(255, 255, 255, 0.5);
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
    width: 80%;            /* Reduce el ancho */
    font-size: 0.95rem;    /* Reduce el tamaño de fuente */
    margin: 0 auto;        /* Centra el input */
    display: block;
}

.form-control:focus {
    border-color: #00ffcc;
    box-shadow: 0 0 10px #00ffcc;
    outline: none;
}

.neon-button {
    font-size: 1.1rem;
    font-weight: bold;
    color: white;
    background: linear-gradient(90deg, #0f0c29, #302b63, #24243e);
    border: 2px solid white;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    text-shadow: 0 0 5px rgba(255, 255, 255, 0.5);
    transition: background 0.3s ease, box-shadow 0.3s ease;
    width: 100%;
    margin-top: 10px;
}

.neon-button:hover {
    background: linear-gradient(90deg, #302b63, #24243e, #0f0c29);
    box-shadow: 0 0 20px #00ffcc;
}

.error-message {
    color: #ff4d4d;
    font-size: 0.95rem;
    margin-top: 5px;
    display: block;
    text-align: center;
}