<footer class="footer">
    <div class="footer-logo">
        <img src="../assets/logo_pagina_web.png" alt="Logo" class="logo">
    </div>
    <div class="footer-social">
        <h3>Xarxes Socials</h3>
        <div class="social-icons">
          <div class="social-item">
            <a href="https://github.com/NoahHerrera24/M12_Projecte_Final_NoahHerrera_GerardLorente" target="_blank" aria-label="GitHub Projecte">
              <img src="../assets/github.png" alt="GitHub Projecte">
            </a>
            <span>GitHub Projecte</span>
          </div>

          <div class="social-item">
            <a href="https://www.instagram.com/_mrherrera_/profilecard/" target="_blank" aria-label="Instagram Noah">
              <img src="../assets/iglogo.webp" alt="Instagram Noah">
            </a>
            <span>_mrherrera_</span>
          </div>

          <div class="social-item">
            <a href="https://www.instagram.com/lorente304/profilecard/?igsh=MXYxZnNrZWtibmx5OA==" target="_blank" aria-label="Instagram Gerard">
              <img src="../assets/iglogo.webp" alt="Instagram Gerard">
            </a>
            <span>lorente304</span>
          </div>

          <div class="social-item">
            <a href="https://youtube.com/@gerardlorente34?si=y-B5z2FCBUegSoqk" target="_blank" aria-label="Youtube Gerard">
              <img src="../assets/canalgerard.jpg" alt="Youtube">
            </a>
            <span>Gerard Lorente34</span>
          </div>

          <div class="social-item">
            <a href="https://youtube.com/@youngfenix-r5p?si=1vjOVfmB702LAQiX" target="_blank" aria-label="Youtube Noah">
              <img src="../assets/canalnoah.jpg" alt="Youtube">
            </a>
            <span>Young Fenix</span>
          </div>
        </div>
    </div>
    <div class="footer-info">
        <img src="../assets/logoins.jpeg" alt="Colegio" class="school-image">
        <img src="../assets/Copyright.webp" alt="Colegio" class="school-image">

        <p>Direcció: Carrer del Camp de les Moreres, 14, 08401 Granollers, Barcelona</p>
        <p>Telefon: +34 938 60 00 21</p>

    </div>
</footer>