<footer class="footer">
    <div class="footer-logo">
        <img src="../assets/logo_pagina_web.png" alt="Logo" class="logo">
    </div>
    <div class="footer-social">
        <h3>Redes Sociales</h3>
        <div class="social-icons">
            <a href="https://www.facebook.com" target="_blank" aria-label="Facebook">
                <img src="../assets/facebook-icon.png" alt="Facebook">
            </a>
            <a href="https://www.twitter.com" target="_blank" aria-label="Twitter">
                <img src="../assets/twitter-icon.png" alt="Twitter">
            </a>
            <a href="https://www.instagram.com" target="_blank" aria-label="Instagram">
                <img src="../assets/instagram-icon.png" alt="Instagram">
            </a>
        </div>
    </div>
    <div class="footer-info">
        <h3>Información del Colegio</h3>
        <img src="../assets/colegio.png" alt="Colegio" class="school-image">
        <p>Nombre del Colegio: Next-Level Academy</p>
        <p>Dirección: Calle Gaming 123, Ciudad Virtual</p>
        <p>Teléfono: +34 123 456 789</p>
    </div>
</footer>
