<div class="container">
  <div class="title-container">
    <h3 class="title">Editar Ticket Queixa</h3>
    <img src="../assets/ticket.png" alt="Ticket" class="Ticket">
  </div>
  <form [formGroup]="myForm" (ngSubmit)="onSubmit()" class="form-container">
    <div class="form-group">
      <label for="descripcio">Descripcio:</label>
      <input class="form-control neon-input" formControlName="descripcio" id="descripcio">
    </div>
    <div>
      <strong id="str">Foto Actual:</strong>
      <img *ngIf="fotoActual" [src]="fotoActual" alt="Foto Actual" class="preview-image">
    </div>
    <div class="form-group">
      <label for="imatge">Foto:</label>
      <input type="file" class="form-control neon-input" (change)="onFotoChange($event)" id="imatge">
    </div>
   <!--  <div>
      <strong>Vídeo Actual:</strong>
      <video *ngIf="videoActual" [src]="videoActual" controls class="preview-video"></video>
    </div> -->
    <div class="form-group">
      <label for="video">Vídeo:</label>
      <input type="file" class="form-control neon-input" id="video" (change)="onVideoChange($event)" accept="video/*">
    </div>
    <div class="form-group">
      <label for="estat">Estat:</label>
      <input class="form-control neon-input" formControlName="estat" id="estat" readonly>
    </div>
    <button type="submit" class="neon-button">Enviar</button>
  </form>
</div>
<div class="alert alert-danger" *ngIf="errorMessage">
  {{ errorMessage }}
</div>
