<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Editar Ticket</title>
</head>
<body>
  <div class="container">
    <div class="title-container">
      <h3 class="title">Editar Ticket Queixa</h3>
      <img src="../assets/ticket.png" alt="Ticket" class="Ticket">
    </div>
    <form [formGroup]="myForm" (ngSubmit)="onSubmit()" class="form-container">
      <div class="form-group">
        <label for="descripcio">Descripcio:</label>
        <input class="form-control neon-input" formControlName="descripcio" id="descripcio" maxlength="30">
        <span class="error-message"
          *ngIf="myForm.get('descripcio')?.invalid && myForm.get('descripcio')?.touched">
          La descripció és obligatòria.
        </span>
        <span class="error-message"
          *ngIf="myForm.get('descripcio')?.errors?.['maxlength'] && myForm.get('descripcio')?.touched">
          La descripció no pot superar els 30 caràcters.
        </span>
      </div>
      <div>
        <strong id="str">Foto Actual:</strong>
        <br>
        <img *ngIf="fotoActual" [src]="fotoActual" alt="Foto Actual" class="preview-image">
      </div>
      <div class="form-group">
        <label for="imatge">Foto:</label>
        <input type="file" class="form-control neon-input" (change)="onFotoChange($event)" id="imatge" accept="image/*">
      </div>
      <!-- <div class="form-group">
        <label for="video">Vídeo:</label>
        <input type="file" class="form-control neon-input" id="video" (change)="onVideoChange($event)" accept="video/*"> 
      </div> -->
      <div class="form-group">
        <label for="estat">Estat:</label>
        <input class="form-control neon-input" formControlName="estat" id="estat" readonly>
      </div>
      <div class="form-group">
        <label for="tournament">Torneig:</label>
        <select class="form-control neon-input" id="tournament" formControlName="torneig_id" (change)="onTournamentChange($event)">
          <option value="">Selecciona un Torneig</option>
          <option *ngFor="let torneig of tornejos" [value]="torneig.id">{{ torneig.nom }}</option>
        </select>
      </div>     
      <div class="form-group">
        <label for="targetUser">Usuari Culpable:</label>
        <select class="form-control neon-input" id="targetUser" formControlName="culpable_id" [disabled]="!users.length">
          <option value="">Selecciona un Usuari</option>
          <option *ngFor="let usuari of users" [value]="usuari.id">{{ usuari.name }}</option>
        </select>       
      </div>
      <button type="submit" class="neon-button">Enviar</button>
    </form>
    <div class="alert alert-danger" *ngIf="errorMessage">
      {{ errorMessage }}
    </div>
  </div>
</body>
</html>