<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crear Equip</title>
  </head>
  <body>
    <div class="container">
      <div class="title-container">
        <h3 class="title">Nou Equip</h3>
        <img src="../assets/equipo.png" alt="Equip" class="Equip">
      </div>
      <form [formGroup]="myForm" (ngSubmit)="onSubmit()" class="form-container">
        <div class="form-group">
          <label for="nom">Nom:</label>
          <input class="form-control neon-input" formControlName="nom" id="nom">
          <span class="error-message" *ngIf="myForm.get('nom')?.invalid && myForm.get('nom')?.touched">
            El nom és obligatori.
          </span>
        </div>
        <div class="form-group">
          <label for="colors_representatius">Colors Representatius:</label>
          <input class="form-control neon-input" formControlName="colors_representatius" id="colors_representatius">
          <span class="error-message" *ngIf="myForm.get('colors_representatius')?.invalid && myForm.get('colors_representatius')?.touched">
            Els colors representatius són obligatoris.
          </span>
        </div>
        <div class="form-group">
          <label for="idioma_equip">Idioma Equip:</label>
          <input class="form-control neon-input" formControlName="idioma_equip" id="idioma_equip">
          <span class="error-message" *ngIf="myForm.get('idioma_equip')?.invalid && myForm.get('idioma_equip')?.touched">
            L'idioma de l'equip és obligatori.
          </span>
        </div>
        <div class="form-group">
          <label for="patrocinadors">Patrocinadors:</label>
          <input class="form-control neon-input" formControlName="patrocinadors" id="patrocinadors">
          <span class="error-message" *ngIf="myForm.get('patrocinadors')?.invalid && myForm.get('patrocinadors')?.touched">
            Els patrocinadors són obligatoris.
          </span>
        </div>
        <div class="form-group">
          <label for="data_fundacio">Data Fundació:</label>
          <input type="date" class="form-control neon-input" formControlName="data_fundacio" id="data_fundacio">
          <span class="error-message" *ngIf="myForm.get('data_fundacio')?.invalid && myForm.get('data_fundacio')?.touched">
            La data de fundació és obligatòria.
          </span>
        </div>
        <div class="form-group">
          <label for="entrenador">Entrenador:</label>
          <input class="form-control neon-input" formControlName="entrenador" id="entrenador">
          <span class="error-message" *ngIf="myForm.get('entrenador')?.invalid && myForm.get('entrenador')?.touched">
            L'entrenador és obligatori.
          </span>
        </div>
        <div class="form-group">
          <label for="logo">Logo:</label>
          <input type="file" class="form-control neon-input" (change)="onFileChange($event)" id="logo">
          <span class="error-message" *ngIf="!selectedFile && errorMessage === 'El logo és obligatori.'">
            El logo és obligatori.
          </span>
          <span class="error-message" *ngIf="myForm.get('logo')?.invalid && myForm.get('logo')?.touched">
            El logo és obligatori.
          </span>
        </div>
        <div class="form-group">
          <label for="descripcio">Descripcio:</label>
          <input class="form-control neon-input" formControlName="descripcio" id="descripcio">
          <span class="error-message" *ngIf="myForm.get('descripcio')?.invalid && myForm.get('descripcio')?.touched">
            La descripció és obligatòria.
          </span>
        </div>
        <div class="form-group">
          <input type="checkbox" formControlName="actiu" id="actiu">
          <span class="checkbox-label">{{ myForm.get('actiu')?.value ? 'Actiu' : 'No Actiu' }}</span>
        </div>
        <button type="submit" class="btn neon-button">Enviar</button>
      </form>
    </div>
    <div *ngIf="errorMessage" class="alert alert-danger">
      {{ errorMessage }}
    </div>
  </body>
</html>