<nav class="navbar navbar-expand-lg navbar-light bg-light">
  
  <img src="../assets/logo_pagina_web.png" alt="equip"
    style="width: 70px; height: 70px; margin-right: 8px;">

  <button class="navbar-toggler" type="button" data-toggle="collapse"
    data-target="#navbarNav"
    aria-controls="navbarNav" aria-expanded="false"
    aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['welcome']">Home</a>
      </li>

      <li class="nav-item dropdown d-flex align-items-center">
        <img src="../assets/equipo.png" alt="equip"
          style="width: 45px; height: 45px; margin-right: 8px;">
        <a class="nav-link dropdown-toggle" href="#" id="equipDropdown"
          role="button" data-toggle="dropdown" aria-expanded="false">
          Equips
        </a>
        <div class="dropdown-menu" aria-labelledby="equipDropdown">
          <a class="dropdown-item" [routerLink]="['equip-list']">Listar
            Equips</a>
          <a class="dropdown-item" [routerLink]="['equip-create']" *ngIf="isLoggedIn && user?.role === 'administrador'">Crear
            Equip</a>
        </div>
      </li>
      <li class="nav-item dropdown d-flex align-items-center">
        <img src="../assets/copa.png" alt="copa"
          style="width: 40px; height: 45px; margin-right: 8px;">
        <a class="nav-link dropdown-toggle" href="#" id="torneigDropdown"
          role="button" data-toggle="dropdown" aria-expanded="false">
          Torneigs
        </a>
        <div class="dropdown-menu" aria-labelledby="torneigDropdown">
          <a class="dropdown-item" [routerLink]="['torneig-list']">Listar
            Torneigs</a>
          <a class="dropdown-item" [routerLink]="['torneig-create']" *ngIf="isLoggedIn && user?.role === 'administrador'">Crear
            Torneig</a>
        </div>
      </li>
      <li class="nav-item dropdown d-flex align-items-center" *ngIf="isLoggedIn && (user?.role === 'participant' || user?.role === 'organitzador')">
        <img src="../assets/ticket.png" alt="ticket"
          style="width: 53px; height: 40px; margin-right: 8px;">
        <a class="nav-link dropdown-toggle" href="#" id="ticketDropdown"
          role="button" data-toggle="dropdown" aria-expanded="false">
          Tickets de Queixa
        </a>
        <div class="dropdown-menu" aria-labelledby="ticketDropdown">
          <a class="dropdown-item" [routerLink]="['ticket-queixa-list']" *ngIf="user?.role === 'participant' || user?.role === 'organitzador'">Listar
            Tickets de Queixa</a>
          <a class="dropdown-item" [routerLink]="['ticket-queixa-create']" *ngIf="user?.role === 'participant'">Crear
            Ticket de Queixa</a>
        </div>
      </li>
      <li class="nav-item d-flex align-items-center">
        <img src="../assets/equipos_ranking.png" alt="ranking"
          style="width: 80px; height: 45px; margin-right: 8px;">
        <a class="nav-link" [routerLink]="['ranking-equips']">
          Ranking Equips</a>
      </li>
      <li class="nav-item d-flex align-items-center">
        <img src="../assets/ranking.png" alt="ranking"
          style="width: 47px; height: 45px; margin-right: 8px;">
        <a class="nav-link" [routerLink]="['ranking-tornejos']">
          Ranking Torneigs</a>
      </li>
      <li class="nav-item d-flex align-items-center">
        <img src="../assets/ranking_personas.png" alt="ranking"
          style="width: 47px; height: 45px; margin-right: 8px;">
        <a class="nav-link" [routerLink]="['ranking-participants']">
          Ranking Participants</a>
      </li>
      <div class="ml-auto d-flex align-items-center">
        <div class="dropdown">
          <img
            [src]="user?.foto ? 'http://127.0.0.1:8000/uploads/imatges/' + user?.foto : '../assets/default-user.png'"
            alt="Perfil"
            class="rounded-circle"
            style="width: 50px; height: 50px; object-fit: cover; cursor: pointer;"
            id="userDropdown"
            data-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="false">
  
          <div class="dropdown-menu dropdown-menu-right p-3"
               aria-labelledby="userDropdown"
               *ngIf="isLoggedIn">
            <p class="mb-1"><strong>Nom:</strong> {{ user?.name }}</p>
            <p class="mb-1"><strong>Email:</strong> {{ user?.email }}</p>
            <p class="mb-1">
              <strong>Equip:</strong>
              {{ user?.equip?.nom ? user?.equip?.nom : 'Sense Equip' }}
            </p>
          </div>
        </div>
      </div>
    </ul>
  </div>
</nav>