body {
  display: flex;
  flex-direction: column; /* Asegura que los elementos se apilen verticalmente */
  justify-content: flex-start; /* Mantiene el contenido en la parte superior */
  min-height: 100vh; /* Ocupa toda la altura de la pantalla */
  text-align: center;
  background: linear-gradient(90deg, #0f0c29, #302b63, #24243e); /* Fondo degradado */
  color: white;

}

.title-container{

  display: flex;
  align-items: center; /* Alinea el título y la imagen verticalmente */
  justify-content: center; /* Centra el contenido horizontalmente */
  margin-top: 7%;

}
.page-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 60vh;
  min-width: 20%;
  text-align: center;
  border-radius: 10px;
  margin-top: 4%;
}

.login-container {
  display: flex;
  flex-direction: column;
  justify-content: center; /* Centra verticalmente */
  align-items: center; /* Centra horizontalmente */
  text-align: center;
  border-radius: 10px;
  color: #fff; /* Texto blanco para contraste */
  max-width: 150px;
  margin: auto; /* Centrado horizontal */
}

.login-form {
  display: flex;
  flex-direction: column;
  gap: 25px;
  width: 30%;
  background: linear-gradient(90deg, #0f0c29, #302b63, #24243e); /* Fondo degradado */
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 255, 204, 0.5); /* Sombra */
}

.login-form label {
  font-weight: bold;
}

.login-form input {
  padding: 10px;
  border: none;
  border-radius: 5px;
  background: transparent;
  border: 2px solid #fff;
  color: white;
  text-shadow: 0 0 5px rgba(255, 255, 255, 0.5);
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

.login-form input:focus {
  border-color: #00ffcc;
  box-shadow: 0 0 10px #00ffcc;
  outline: none;
}

.login-form button {
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #24243e;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.login-form button:hover {
  background-color: #302b63;
}

.error-message {
  color: red;
  font-size: 0.9rem;
  margin-left: 10px;
  box-shadow: red;
}

.forgot-password-link {
  margin-top: 10px;
  text-align: center;
}

.forgot-password-link a {
  color: #007bff;
  text-decoration: none;
  font-size: 0.9rem;
}

.forgot-password-link a:hover {
  text-decoration: underline;
}
