<div class="panel panel-primary">
    <div *ngIf="ticketsQueixa.length==0">
      <h4>No hi ha tickets de queixa</h4>
    </div>
    <br/>
    <div class="row">
        <div class="col-md-2">
          Filtrat per:
        </div>
        <div class="col-md-4">
          <input type="text" [(ngModel)]="listFilter">
        </div>
    </div>
    <div class="col-md-2">
        <h3>Filtrat per: {{listFilter}}</h3>
    </div>
    <div *ngIf="ticketsQueixa.length>0" class="table-responsive">
        <table class="table">
          <thead>
            <tr>
              <th>Descripcio</th>
              <th>Proves</th>
              <th>Estat</th>
              <th>Accions</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let ticketQueixa of ticketsQueixa | ticketQueixaListFilter:listFilter">
              <td>{{ticketQueixa.descripcio}}</td>
              <td>
                <div *ngFor="let prova of ticketQueixa.proves">
                  <img *ngIf="isImage(prova)" [src]="prova" alt="Prova d'imatge" width="100">
                  <video *ngIf="isVideo(prova)" [src]="prova" controls width="200"></video>
                  <embed *ngIf="isPdf(prova)" [src]="prova" type="application/pdf" width="200" height="200">
                  <a *ngIf="isPdf(prova)" [href]="prova" target="_blank">Veure PDF</a>
                </div>
              </td>
              <td>{{ticketQueixa.estat}}</td>
              <td>
                <button [routerLink]="['/ticket-queixa-edit', ticketQueixa.id]" class="btn btn-primary">Editar</button>
                <button (click)="deleteTicketQueixa(ticketQueixa.id)" class="btn btn-danger">Eliminar</button>
              </td>
            </tr>
          </tbody>
        </table>
    </div>
</div>