html {
  color: white; /* Asegura que el texto sea visible */
  font-family: Arial, sans-serif; /* Fuente predeterminada */
}

body {
  display: flex;
  flex-direction: column; /* Asegura que los elementos se apilen verticalmente */
  justify-content: flex-start; /* Mantiene el contenido en la parte superior */
  min-height: 100vh; /* Ocupa toda la altura de la pantalla */
  text-align: center;
  background: linear-gradient(90deg, #0f0c29, #302b63, #24243e); /* Fondo degradado */
  color: white;
}

.container {
  background: linear-gradient(90deg, #0f0c29, #302b63, #24243e); /* Fondo degradado */
}

.card-container {
  display: flex;
  flex-wrap: wrap; /* Permite que las tarjetas se ajusten en varias filas */
  gap: 10px; /* Espaciado entre las tarjetas */
  justify-content: center; /* Centra las tarjetas horizontalmente */
  padding: 10px;
}

.card {
  display: flex;
  flex-direction: column; /* Cambia la dirección a vertical */
  align-items: center;
  background: linear-gradient(90deg, #0f0c29, #302b63, #24243e); /* Fondo degradado */
  color: white;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 255, 204, 0.5); /* Sombra */
  overflow: hidden;
  min-width: 220px;      /* ancho mínimo */
  max-width: 100%;       /* permite crecer hasta el 100% del contenedor */
  width: auto;           /* elimina el ancho fijo */
  padding: 15px;
  margin-bottom: 20px; /* Espaciado inferior entre tarjetas */
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  word-break: break-word; /* para evitar desbordamiento de texto largo */
/*     width: calc(30% - 20px); 
 */
}

.card-header {
  background: rgba(0, 0, 0, 0.7); /* Fondo semitransparente para el título */
  width: 100%; /* Asegura que el título ocupe todo el ancho de la tarjeta */
  text-align: center;
  padding: 10px;
}

.card-title {
  font-size: 1.2rem; /* Ajusta el tamaño del título */
  font-weight: bold;
  margin-bottom: 5px;
  text-shadow: 0 0 5px rgba(255, 255, 255, 0.5);
  text-align: center;
}

.card:hover {
  transform: scale(1.05); /* Efecto de zoom al pasar el ratón */
  box-shadow: 0 0 30px rgba(0, 255, 204, 0.8); /* Sombra más intensa */
}

.card-image {
    width: 35%; /* Ancho fijo para la imagen */
    height: 100%; /* La imagen ocupará toda la altura de la tarjeta */
    object-fit: cover; /* Asegura que la imagen cubra el espacio sin deformarse */
    border-right: 2px solid rgba(255, 255, 255, 0.8); /* Línea separadora */
    box-shadow: 0 0 20px rgba(0, 255, 204, 0.5); /* Sombra */
  }

.card-content {
  padding: 15px;
  text-align: left; /* Alinea el texto a la izquierda */
  flex: 1; /* Permite que el contenido ocupe el espacio restante */
  width: 100%;
  word-break: break-word;
}

.card-details {
  font-size: 0.7rem; /* Reduce el tamaño de los valores */
  line-height: 1.2; /* Espaciado entre líneas */
  margin-bottom: 5px;
}

.card-actions {
  margin-top: 10px;
  display: flex;
  gap: 10px; /* Espaciado entre los botones */
  justify-content: flex-start; /* Alinea los botones a la izquierda */
}

.neon-button {
  font-size: 0.7rem; /* Reduce el tamaño de los botones */
  font-weight: bold;
  color: white;
  background: linear-gradient(90deg, #0f0c29, #302b63, #24243e);
  border: 2px solid white;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
  text-shadow: 0 0 5px rgba(255, 255, 255, 0.5);
  transition: background 0.3s ease, box-shadow 0.3s ease;
}

.neon-button:hover {
  background: linear-gradient(90deg, #302b63, #24243e, #0f0c29);
  box-shadow: 0 0 20px #00ffcc;
}

.neon-button-danger {
  font-size: 0.7rem; /* Reduce el tamaño de los botones de peligro */
  font-weight: bold;
  color: white;
  background: linear-gradient(90deg, #ff0000, #cc0000, #990000);
  border: 2px solid white;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
  text-shadow: 0 0 5px rgba(255, 255, 255, 0.5);
  transition: background 0.3s ease, box-shadow 0.3s ease;
}

.neon-button-danger:hover {
  background: linear-gradient(90deg, #cc0000, #990000, #660000);
  box-shadow: 0 0 20px #ff0000;
}

.filter-container {
  display: flex;
  align-items: center; /* Alinea el título y el input verticalmente */
  gap: 10px; /* Espaciado entre el título y el input */
  margin-bottom: 20px; /* Espaciado inferior */
  padding: 10px;
  border-radius: 10px; /* Bordes redondeados */
  margin-left: 21%;
}

.filter-title {
  font-size: 1.5rem;
  font-weight: bold;
  color: white;
  text-shadow: 0 0 5px rgba(255, 255, 255, 0.5);
  margin: 0; /* Elimina el margen adicional */
}

.filter-input {
  padding: 10px;
  border: 2px solid #fff;
  border-radius: 5px;
  background: transparent;
  color: white;
  width: 300px;
  text-shadow: 0 0 5px rgba(255, 255, 255, 0.5);
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

.filter-input:focus {
  border-color: #00ffcc;
  box-shadow: 0 0 10px #00ffcc;
  outline: none;
}

.title-container {
  display: flex;
  align-items: center; /* Alinea el título y la imagen verticalmente */
  justify-content: center; /* Centra el contenido horizontalmente */
  gap: 10px; /* Espaciado entre el título y la imagen */
  margin-bottom: 20px; /* Espaciado inferior */
  margin-top: 2%;
}

.title {
  font-size: 3rem;
  font-weight: bold;
  color: white;
  text-shadow:
    0 0 10px #0f0c29,
    0 0 20px #302b63,
    0 0 30px #24243e;
}

.Equip {
  width: 50px; /* Ajusta el tamaño de la imagen */
  height: auto; /* Mantén la proporción de la imagen */
  border: 2px solid rgba(255, 255, 255, 0.8); /* Borde blanco semitransparente */
  background-color: rgba(255, 255, 255, 0.5); /* Fondo blanco semitransparente */
  border-radius: 5px; /* Bordes redondeados */
}