<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Llistar Equips</title>
</head>
<body>

  <div class="panel panel-primary">
    <div class="title-container">
      <h3 class="title">{{ titolLlistat }}</h3>
      <img src="../assets/equipo.png" alt="Equip" class="Equip">
    </div>
  
    <div *ngIf="equips.length == 0">
      <h4>No hi ha equips</h4>
    </div>
    <div *ngIf="equips.length > 0" class="table-responsive">
      <!-- Caixa de filtrat -->
      <div class="filter-container">
        <h3 class="filter-title">Filtrar per:</h3>
        <input
          type="text"
          [(ngModel)]="listFilter"
          placeholder="Escriu per filtrar equips"
          class="filter-input"
        />
      </div>
  
      <div *ngIf="equips.length > 0" class="card-container">
        <div class="card" *ngFor="let equip of equips | equipListFilter:listFilter">
          <div class="card-header">
            <h3 class="card-title">{{ equip.nom }}</h3>
          </div>
          <img [src]="equip.logo" alt="logo equip" class="card-image">
          <div class="card-content">
            <p><strong>Colors Representatius:</strong> {{ equip.colors_representatius }}</p>
            <p><strong>Idioma Equip:</strong> {{ equip.idioma_equip }}</p>
            <p><strong>Patrocinadors:</strong> {{ equip.patrocinadors }}</p>
            <p><strong>Data Fundació:</strong> {{ equip.data_fundacio }}</p>
            <p><strong>Entrenador:</strong> {{ equip.entrenador || 'Sense entrenador' }}</p>
            <p><strong>Descripció:</strong> {{ equip.descripcio }}</p>
            <p><strong>Actiu:</strong> {{ equip.actiu ? 'Actiu' : 'No Actiu' }}</p>
            <p><strong>Guanyador:</strong> {{ equip.guanyador ? 'Guanyador' : 'No Guanyador' }}</p>
            <div class="card-actions">
              <a *ngIf="isLoggedIn && user?.role === 'administrador'" 
                 [routerLink]="['/equip-edit', equip.id]" 
                 class="btn neon-button">Editar</a>

              <a *ngIf="isLoggedIn && user?.role === 'administrador'" 
                 (click)="deleteEquip(equip.id)" 
                 class="btn neon-button-danger">Eliminar</a>

              <a *ngIf="isLoggedIn && user?.role === 'participant' && (!user?.equip || user?.equip?.id !== equip.id)"
                (click)="joinEquip(equip.id)" 
                class="btn neon-button">Unir-se</a>

              <a *ngIf="isLoggedIn && user?.role === 'participant' && user?.equip?.id === equip.id"
                (click)="leaveEquip(equip.id)" 
                class="btn neon-button-danger">Sortir-se</a>           
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
</html>