<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Inicio</title>
  <link rel="stylesheet" href="welcome.component.css">
</head>
<body>
  <div class="background-container">
    <img src="../assets/portada.jpeg" alt="portada" class="background-image">
  </div>

  <div class="contenedor">
    <h1 class="item">
      {{titol}}
    </h1>
    <div class="button-container">
      <button class="neon-button neon-button-1" [routerLink]="['/login']">Iniciar Sessió</button>
      <button class="neon-button neon-button-2" [routerLink]="['/register']">Registrar-se</button>
      <button class="neon-button neon-button-3" (click)="logout()">Tancar Sessió</button>
    </div>
  </div>
</body>
</html>