.contenedor {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh; 
  text-align: center;
}

.item {
  margin: 1rem 0; 
}

.item h1 {
  font-size: 700px; 
  font-weight: bold; 
  color: #333; 
}

body {
  background-image: url(/assets/portada.jpeg);
  background-size: cover; 
  background-position: center; 
  background-repeat: no-repeat; 
  height: 100vh; 
  margin: 0; 
  overflow: hidden; 
}

/* .item img {
  max-width: 100%; 
  height: auto;
  margin-top: 1rem;
} */