<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <h2 class="ranking-title">Ranking d'Equips amb Mes Victories</h2>
  <ul>
    <li *ngFor="let equip of rankingEquips; let i = index">
      <strong>#{{ i + 1 }} {{ equip.nom }}</strong> - {{ equip.victories }} victories
    </li>
  </ul>

  <div *ngIf="errorMessage" class="alert alert-danger">
    {{ errorMessage }}
  </div>
</body>
</html>