<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Qui Som?</title>
    </head>
    <body>
        <div class="container">
            <div class="title-container">
                <h3 class="title">Qui Som?</h3>
            </div>
            <div class="about-container">
                <div class="about-item">
                    <img src="../assets/gerard.png" alt="Membre 1"
                        class="about-img" />
                    <h6>Gerard Lorente</h6>
                    <p class="about-description">
                        Desenvolupador Web, estudiant de l'Institut
                        Carles Vallbona. En aquest projecte s'ha dedicat
                        més a la part <strong>frontend</strong> (disseny
                        visual del projecte) però també ha atribuït el seu 
                        esforç i treball a la part <strong>backend</strong> 
                        (funcionament i gestió de dades del projecte). 
                    </p>
                </div>
                <div class="about-item">
                    <img src="../assets/noah.jpg" alt="Membre 2"
                        class="about-img" />
                    <h6>Noah Herrera</h6>
                    <p class="about-description">
                        Desenvolupador Web, estudiant de l'Institut
                        Carles Vallbona. En aquest projecte s'ha dedicat
                        més a la part <strong>backend</strong> (funcionament 
                        i gestió de dades del projecte) però també ha atribuït 
                        el seu esforç i treball a la part <strong>frontend</strong> 
                        (disseny visual del projecte). 
                    </p>
                </div>
            </div>
        </div>
    </body>
</html>